/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/


html, body {
	margin: 0px;
}

[class*='col-'] {
	float: left;
	padding-left: 17px;
	padding-right: 17px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}
[class*='col-']:first-of-type {
	padding-left: 0px;
}

.grid {
	width: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 75px 0 75px;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}

@media handheld, only screen and (max-width: 767px) {


	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}